@font-face {
    font-family: BragaHuisRegular;
    src: url('font/Braga_Huis/Braga_Huis_Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }

:root {
    --textDark: rgb(186,187,189);
    --textLight: rgb(186,187,189);
    --textHover: rgb(249,206,65);
    --textSelected: rgb(255, 234, 167);
    --bgDark:rgb(58,58,60);
    --bgLight:rgb(255, 242, 219);
    --navFontSize:60px;
    --transitionTme:0.4s;
    --sepiaValue:70%;
    --picture-scale-hover:80%;
    --flickering:rgb(249,206,65);
    --logoTextAnimationType:3;
    /* --scrollVideo:15%; original */
    --scrollVideo:-90%; 
    --scrollPicture:0%;
    --grayscaleValue:100%;
}

*{
    font-family: 'BragaHuisRegular';
    margin: 0;
    /* padding: 0; */
    font-weight: 50;
    box-sizing: border-box;
    color:var(--textDark);
    font-size: 56px;
    
}

body{
    background-color: var(--bgDark);
    transition: 1s;
    color:var(--textLight);
}

header{
    z-index:100;
    color:var(--textDark);
    letter-spacing: 20px;
    font-size: var(--navFontSize);
    position: sticky;
    /* position: fixed; */
    /* top:2em;  */
    /* width: 90%; */
    /* left:1em; */
    /* height: 1em!important; */
    left:5%;
    width: 90%;
    top:.8em;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-top: -.2em; */
    /* padding-bottom: .2em; */
    padding-left: .5em;
    padding-right: .5em;

}


ul, li, a{
    
    letter-spacing: 10px;
    text-decoration: none;
    transition: var(--transitionTme);
}

a{
    cursor: pointer;
}

.nav{
    list-style: none;
    
}

.nav li {
    
    display: inline-block;
    padding-left: .2em;
    padding-right: .2em;

}

.nav li a{
    /* font-size: 60px!important; */
}

a:hover{
    letter-spacing: 20px;
    color: var(--textHover);
}

@keyframes example {
    from {color: var(--textDark);letter-spacing: 24px;}
    50% {color: var(--textHover);letter-spacing: 28px;}
    to {color: var(--textDark);letter-spacing: 24px;}
}

.logo-text a{
    margin-left: .3em;
    letter-spacing: 24px;
    transition: 1s;
    animation: example 4s var(--logoTextAnimationType);
}

.logo-text a:hover{
    margin-left: .4em;
    letter-spacing: 40px!important;
    cursor: pointer;
    transition: 1s;
    color: var(--textHover)!important;
    
}

.lightbulb{
    /* margin-bottom: 1em; */
    width: 1em; height: 1em;
    transition: 3s;
    float:left;
}

.lightbulb:hover{
    cursor: pointer;
    content:url('./src/Light_on_768x768.png');
}


.hide{
    display: none;
}

.section{
    margin-top: 1.6em;
    text-align: center;
    /* transform: translateX(0%) translateY(0%); */
    overflow: hidden;
}

.text-selected{
    color:var(--textSelected)!important;
}

.section h1{
    letter-spacing: 40px;
}

h1, h2, h3, h4, div, span, button{
    color:var(--textLight);
}

h2 {
    margin-top: 1em;
    margin-left: 2em;
    float:left
}

.onoff{
    /* margin-top: 3em;
    margin-bottom: 1em; */
    vertical-align: middle;
    text-align: center;
    transition:2s;
    transform: translateX(0%) translateY(var(--scrollImage));
    /* padding-bottom: .2em; */
    
}

.girl{
    
    margin-top: .8em;
    /* margin-bottom: 0.2em; */
    /* display: inline-block; */
    width: 50%;
    content:url('./src/lithophane_girl_front_off.png');
    
}

@keyframes arrow-pointing-down {
    from {transform: translateX(0%) translateY(0%);}
    30% {transform: translateX(0%) translateY(-125%);}
    to {transform: translateX(0%) translateY(0%);}
}

@keyframes arrow-pointing-up {
    from {transform: translateX(0%) translateY(0%);}
    40% {transform: translateX(0%) translateY(-80%);}
    to {transform: translateX(0%) translateY(0%);}
}



.div-arrow-up{
    z-index: 2;
    /* display: flex; */
    /* margin-top: 0.2em; */
    margin-left: 2.2em;
    position: absolute;
    /* display: block; */
    /* float:left; */
}

.light-or-night{
    float:right;
}

.div-arrow-up span{
    /* margin-top: 0.4em */
    float:left;
}

.div-arrow-up .arrow-up{
    width:1em;
    height:1em;
    /* transform: translateX(0%) translateY(-60%); */
    animation: arrow-pointing-up 2s infinite;
}


.div-arrow-down{
    
    float:right;
    /* position:fixed; */
    /* margin-left: 2em; */
}

.div-arrow-down span{
    margin-bottom: 4em;
}

.div-arrow-down .arrow-down{
    width:1em;
    height:1em;
    margin-right: 3em;
    /* transform: translateX(0%) translateY(-60%); */
    animation: arrow-pointing-down 1.6s 4;
}


.video-container {
    height: 100%;
    /* width: 25%; */
    /* overflow: hidden; */
    position: fixed;
    transform: translateX(0%) translateY(var(--scrollVideo));
    transition: 3.6s;
  }
  
  @keyframes to-color {
    from {filter: grayscale(100%);}
    50% {filter: grayscale(50%);}
    to {filter: grayscale(0%);}
}

@keyframes to-gray {
    from {filter: grayscale(0%);}
    50% {filter: grayscale(50%);}
    to {filter: grayscale(100%);}
}


  .video-container {
    /* min-width: 25%; */
    /* min-height: 50%; */
    /* position: absolute; */
    /* top: 50%; */
    /* filter: grayscale(var(--grayscaleValue)); */
    /* left: 50%; */
  }

  .video-container video{
    z-index: 1;
  }
  
  /* Just styling the content of the div, the *magic* in the previous rules */
  .video-container .video-caption {
  z-index: 0;
  position: fixed;
  text-align: center;
  color: #dc0000;
  /* text-align-last: center; */
}

@keyframes caption-video {
    from {transform: translateX(100%) translateY(0%);}
    /* 40% {transform: translateX(0%) translateY(00%);} */
    to {transform: translateX(-500%) translateY(0%);}
}

.video-container .video-caption h2{
    margin-top: 4em;
    margin-bottom: 0.4em;
    letter-spacing: 0.2em;
    font-size: 1.6em;
    font-weight: 800;
    color:var(--textHover)!important;
    animation:caption-video 40s infinite;
}

#shop h1{
    margin-bottom: 1em;
}

.products{
    margin-left:1.6em;
    margin-bottom: 1em;
    /* display:block; */
}

.product{
    margin-bottom: 1.4em; 
    display:inline-block;
}

.product .picture{
    text-align: left;
    float:left;
    width:50%;   
}

.product .picture h3{
    margin-bottom: 1em;
}

.product .picture img{
    
    width:80%;
    filter: sepia(var(--sepiaValue));
    transition:.6s;
    /* margin-left: 2em; */
}

.product .picture img:hover{
    cursor:pointer;
    width:var(--picture-scale-hover);
    
    filter: drop-shadow(0 0 0.4rem var(--bgLight));
    transition:.4s;
    /* filter: sepia(0%); */
    /* scale: 1.4em; */
    /* margin-left: 2em; */
}

.product .details{
    margin-top: 1em;
    float: right;
    width:50%;
    
}

.product .details h4{
    /* margin-bottom: 1em; */
}

.product .details .description{
    text-align: left;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    /* border: 4px; */
    border-style: dashed;
}

.product .product .details .description .category span{
    float: right;
}



.product .details .actions{
    margin-top: .4em;
}
.product .details .actions button{
    float:right;
    cursor: pointer;
}

.product .details .actions span{
    float:left;
}

.product h2{
    /* text-align: center; */
}




