@font-face {
    font-family: BragaHuisRegular;
    src: url('font/Braga_Huis/Braga_Huis_Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }

:root {
    --textDark: rgb(186,187,189);
    --textLight: rgb(186,187,189);
    --textHover: rgb(249,206,65);
    --bgDark:rgb(58,58,60);
    --bgLight:rgb(247, 235, 213);
    --navFontSize:70px;
    --transitionTme:0.6s;
}

*{
    font-family: 'BragaHuisRegular';
    margin: 0;
    /* padding: 0; */
    font-weight: 50;
    box-sizing: border-box;
    color:var(--textDark);
    font-size: var(--navFontSize);
    letter-spacing: 20px;
}

body{
    background-color: var(--bgDark);
    transition: 1s;

}

header{
    position: sticky;
    /* position: fixed; */
    /* top:2em;  */
    /* width: 90%; */
    /* left:1em; */
    /* height: 1em!important; */
    left:5%;
    width: 90%;
    top:.6em;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-top: -.2em; */
    /* padding-bottom: .2em; */
    padding-left: .5em;
    padding-right: .5em;

}


ul, li, a{
    letter-spacing: 10px;
    text-decoration: none;
    transition: var(--transitionTme);
}

.nav{
    list-style: none;
    
}

.nav li {
    
    display: inline-block;
    padding-left: .2em;
    padding-right: .2em;

}

.nav li a{
    /* font-size: 60px!important; */
}

a:hover{
    letter-spacing: 20px;
    color: var(--textHover);
}

.logo-text a{
    
    letter-spacing: 24px;
    transition: 1s;
}

.logo-text a:hover{
    letter-spacing: 40px;
    cursor: pointer;
}


.hide{
    display: none;
}

.section{
    margin-top: 1.6em;
    text-align: center;
    
}

h1, h2{
    color:var(--textLight);
}

h2 {
    margin-top: 1em;
    margin-left: 2em;
    float:left
}

.onoff{
    /* margin-top: 3em;
    margin-bottom: 1em; */
    vertical-align: middle;
    text-align: center;
    transition:2s;
}

.girl{
    margin-bottom: .8em;
    display: inline-block;
    width: 45%;
    content:url('./src/lithophane_girl_front_off.png');
    
}

.lightbulb{
    width: 5%; height: 5%;
    transition: 3s;
}

.lightbulb:hover{
    cursor: pointer;
    content:url('./src/Light_on_768x768.png');
}

